@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --clr-primary-100: hsl(180, 62%, 55%);
    --clr-primary-200: hsl(212, 86%, 64%);
    --clr-primary-300: hsl(34, 97%, 64%);
    --clr-primary-400: hsl(0, 78%, 62%);

    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(229, 6%, 66%);
    --clr-neutral-300: hsl(234, 12%, 34%);

    --ff-primary: 'Poppins', sans-serif;

    --fs-primary: 15px;

    --fw-100: 200;
    --fw-200: 400;
    --fw-300: 600;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    background-color: var(--clr-neutral-100);
}

p {
    color: var(--clr-neutral-200);
}

/* header */
.header {
    text-align: center;
    margin: 3rem 0;
}

.header h1 {
    padding: 0;
    margin: 0;
    color: var(--clr-neutral-300);
}

.header h1:first-child {
    font-weight: var(--fw-100);
}

.header p {
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 1.1rem;
}

/* main */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--clr-neutral-100);
}

.container p {
    max-width: 20rem;
    margin: 0rem auto 1rem 1.5rem;
    padding-top: 0;
}

.container h3 {
    color: var(--clr-neutral-300);
    margin: 1.5rem auto 1rem 1.5rem;
    padding: 0;
}

.container img {
    margin: 2rem 1rem 1rem 15rem;
}

.column {
    box-shadow: 1px 10px 10px 10px rgba(63, 62, 61, 0.212);
    border-radius: .3rem;
}

.column-1, .column-3 {
    transform: translateY(50%);
}

.row-1 {
    position: relative;
    border-radius: .3rem;
}

.row-2 {
    position: absolute;
    margin-top: 1.5rem;
    box-shadow: 1px 10px 10px 10px rgba(63, 62, 61, 0.212);
    border-radius: .3rem;
}

/* border colors */
.supervisor {
    border-top: 5px solid var(--clr-primary-100);
}

.team-builder {
    border-top: 5px solid var(--clr-primary-400);
}

.karma {
    border-top: 5px solid var(--clr-primary-300);
}

.calculator {
    border-top: 5px solid var(--clr-primary-200);
}

/* media query */
@media (max-width: 1140px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .column-1 {
        transform: translateY(10%);
    }

    .column-2 {
        transform: translateY(12%);
    }

    .karma {
        transform: translateY(5%);
    }

    .column-3 {
        transform: translateY(130%);
        margin-bottom: 25rem;
    }
}


